name: Build and Deploy TiddlyWiki Links

on:
  push:
    branches:
      - main
    tags:
      - "*"
  schedule:
    - cron:  '*/17 * * * *'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v2.3.1
        with:
          persist-credentials: false 
      - name: Install dependencies
        run: npm install
      - name: Run Tests
        run: npm test
      - name: Build Site
        run: npm run build
      - name: Deploy Content
        uses: JamesIves/github-pages-deploy-action@4.2.5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
          repository-name: 'TiddlyWiki/links.tiddlywiki.org-gh-pages'
          folder: .
